body{
    text-align:center;
    font-family:"Open Sans",sans-serif;
    font-size:18px;
}

h3 {
    margin-top:-5px;
    margin-bottom:-5px;
    color:#cc0001;
}

a{
    color:#cc0001;
}

.button a {
    background:#cc0001;
    padding:10px;
    border-radius: 20px;
    color:white;
    text-decoration: none; 
    display: block;
    margin-bottom:60px;
    margin-top:30px;
    margin-left:35%;
    margin-right:35%;
    box-shadow: #7413134d 1px 2px 0px;
}

.button a:hover {
    background:#741313;
}

.header {
    background:#cc0001;
    color:white;
    padding-left:10%;
    padding-right:10%;
    padding-top:0%;
    padding-bottom:0%;
    position: absolute;
    box-shadow: rgba(80, 18, 18, 0.301) 1px 1px 1px;
    left: 0px;
    right: 0px;
    top:0px;
}

.header h1{
    font-size:25px;
}

.header p {
    margin-top:-20px;
}

.content {
    padding-left:10%;
    padding-right:10%;
    margin-top:80px;
    text-align: left;;
}


.subtitle{
    margin-top:-15px;
    color:grey;
    font-style: italic;
    font-size: small;
}

.ex {
    font-style:italic;
    margin-bottom:40px;
}

#assignments {
    padding-bottom:25px;
    padding-top:30px;
}
